#login-form{
    margin-bottom: 10px;
}

.icon.icon-loading{
    background: url('/static/img/ajax.gif') !important;
}
a.text-html.hide{
    display: none !important;
}

#timeline-navbar .navbar-inner a.brand{
    padding: 4px 10px 4px 4px;
}
#timeline-navbar .navbar-inner a.brand img{
    width: 32px;
    padding: 0px;
}

#timeline-navbar .navbar-inner ul li a img.loading{
    display: none;
}

#status-form{
    margin-top: 20px;
    margin-bottom: 5px;
}
.subnav-fixed {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
}

#status-form textarea{
}
#status-form #status-length-limit{
    color: #717171;
}

#timeline-content .notice:first-child{
    margin-left: 2.127659574468085% !important;
}

#status-streams ul{
    width: 250px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
#status-streams ul li a{
    padding: 5px;
}
#status-streams ul li a img{
    width: 24px;
}
#status-streams ul li.stream-item.clicked{
    background: #FFECDC !important;
}
#status-streams ul li.stream-item.clicked:hover{
    background: #FFECDC !important;
}

.notice{
    padding: 5px 10px 5px 5px;
}

.notice > div{
    margin-bottom: 10px;
    width: 100%;
}
.notice > div > p{
    margin-bottom: 0px;
}
.notice > div > p img{
    float: left; 
    padding: 5px 5px 0px 0px;
}
.notice > div > span{
    color: #9E9E9E;
    float: left;
    width: 100%;
}

.notice .replies-holder{
    background-color: #FFF5EA;
    padding: 5px;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    width: 93%;
}
.notice .replies-holder:empty{
    display: none;
}
.notice .replies-holder .notice:first{
    margin-left: 2.127659574468085%;
}

.notice .notice-holder .content{
    width: 100%;
}
.notice .notice-holder .content > p img:first-child{
    float: left;
    padding: 5px;
}
.notice .notice-holder .content img.thumbnails{
    max-width: 200px;
    margin-bottom: 10px;
}
.notice .notice-holder .content a.attachments{
    display:block;
    color: #FFB000;
}

.notice .notice-holder .info{
    color: #B9B9B9;
}
.notice .notice-holder .info .metadata{
    float: left;
}
.notice .notice-holder .info .action{
    float: right;
    padding-right: 10px;
}

.notice .notice-holder .info .action a{
    font-size: 15px;
    color: #FFFFFF;
}
.notice .notice-holder .info .action a:hover{
    text-decoration: none;
/*
    color: #49BA49;
*/
    font-weight: bold;
}

a.attachment.more{
    margin: 0 5px;
    padding: 0px 5px;
    background: #4E4E4E;
    color: white;
}



p.rtl{
    direction: rtl;
    text-align: right;
}
div.notice-form{
    display: none;
    float: left;
    width: 100%;
    margin-top: 5px;
}
div.notice-form textarea{
    margin: 0px 0px 10px;
    width: 98%;
    height: 60px;
    margin: 0px;
    padding: 0px;
}
div.notice-form .btn-group{
    margin-top: 5px;
}
div.notice-form .btn-group .btn[disabled="disabled"]{
    padding-right: 7px;
    padding-left: 7px;
}
